<section name="newuser">
	<h1>Create a new user</h1><br />
	<form action="/newuser" method="post">
		Email: <input type="text" name="email"><br />
		Username: <input type="text" name="username"><br />
		<input type="submit" value="Create User">
	</form>
</section>